@import url(https://db.onlinewebfonts.com/c/f7d1b2995a6dff7abcda304d226aa67d?family=Helvetica+W01+Bold);

:root {
  --primary-color: #69ff47;
  --secondary-color: #007bff;
}

/* Reset some common properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%; /* Ensures the body and html take up the full height */
  overflow: hidden; /* Prevent scrollbars */
  position: relative;

  font-family: "Helvetica W01 Bold";
}

canvas {
  display: block; /* Prevent canvas from having space below it */
  width: 100%; /* Make canvas fill the full width */
  height: 100%; /* Make canvas fill the full height */
}

.title-container {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.title-container h1 {
  font-size: 3rem;
  margin-top: 32px;
  color: var(--primary-color);
  font-weight: 700;
  text-transform: uppercase;
}

.title-container p {
  font-size: 1.5rem;
  color: white;
}

.color-picker-container {
  position: absolute;
  top: 0;
  right: -25vw;

  height: 100vh;
  width: 25vw;
  min-width: fit-content;

  /* transform: translateY(-50%); */

  padding: 32px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: none;

  /* display: flex; */
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;

  /* border-radius: 16px; */
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;

  overflow: hidden;
}

.color-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.color-grid .color {
  width: 50px;
  height: 50px;
  border-radius: 16px;
  cursor: pointer;

  border: solid 2px #000;
}

.color-grid .color[data-color="ff0000"] {
  background: #ff0000;
}
.color-grid .color[data-color="0000ff"] {
  background: #0000ff;
}
.color-grid .color[data-color="69ff47"] {
  background: #69ff47;
}
.color-grid .color[data-color="ffff00"] {
  background: #ffff00;
}
.color-grid .color[data-color="800080"] {
  background: #800080;
}
.color-grid .color[data-color="ffa500"] {
  background: #ffa500;
}
.color-grid .color[data-color="000000"] {
  background: #000000;
}
.color-grid .color[data-color="ffffff"] {
  background: #ffffff;
}
.color-grid .color[data-color="808080"] {
  background: #808080;
}

input[type="color" i] {
  /* border-radius: 50%; */
  inline-size: 200px;
  block-size: 50px;
  border: none;

  position: relative;

  cursor: pointer;
}

input[type="color" i]::after {
  content: "Pick a color";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}

#color-picker-container input {
  margin-bottom: 10px;
}

h2 {
  font-size: 2rem;
  text-transform: capitalize;
}

#save-color {
  padding: 8px 16px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: margin-top 0.3s ease;
}

.fa-close {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
