@import url(https://db.onlinewebfonts.com/c/f7d1b2995a6dff7abcda304d226aa67d?family=Helvetica+W01+Bold);

:root {
  --primary-color: #69ff47;
  --secondary-color: #007bff;
}

/* Reset some common properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%; /* Ensures the body and html take up the full height */
  overflow: hidden; /* Prevent scrollbars */
  position: relative;

  font-family: "Helvetica W01 Bold";
}

canvas {
  display: block; /* Prevent canvas from having space below it */
  width: 100%; /* Make canvas fill the full width */
  height: 100%; /* Make canvas fill the full height */
}

.logo {
  position: absolute;
  width: 200px;
  top: 64px;
  left: 64px;
  cursor: pointer;
}

.logo img {
  width: 100%;
}

.title-container {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.title-container h1 {
  font-size: 3rem;
  margin-top: 32px;
  color: var(--primary-color);
  font-weight: 700;
  text-transform: uppercase;
}

.title-container p {
  font-size: 1.5rem;
  color: white;
}

.color-picker-container {
  position: absolute;
  top: 0;
  right: -25vw;

  height: 100vh;
  width: 25vw;
  min-width: fit-content;

  /* transform: translateY(-50%); */

  padding: 32px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: none;

  /* display: flex; */
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;

  /* border-radius: 16px; */
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;

  overflow: hidden;
}

.color-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.color-grid .color {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  cursor: pointer;

  border: solid 2px #000;
}

.color-grid .color[data-color="ba3939"] {
  background: #ba3939;
}
.color-grid .color[data-color="dbb2a9"] {
  background: #dbb2a9;
}
.color-grid .color[data-color="69ff47"] {
  background: #69ff47;
}
.color-grid .color[data-color="28a09a"] {
  background: #28a09a;
}
.color-grid .color[data-color="5b487f"] {
  background: #5b487f;
}
.color-grid .color[data-color="ff4100"] {
  background: #ff4100;
}
.color-grid .color[data-color="121210"] {
  background: #121210;
}
.color-grid .color[data-color="eff2ee"] {
  background: #eff2ee;
}
.color-grid .color[data-color="e3336f"] {
  background: #e3336f;
}

.material-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.material-grid .material {
  width: 100px;
  height: 50px;
  border-radius: 8px;
  cursor: pointer;

  border: solid 2px #000;
}

.material-grid .material[data-material="brown_leather_1k"] {
  background-image: url("/textures/brown_leather_1k/brown_leather_diffuse_1k.jpg");
}

.material-grid .material[data-material="denim_fabric_1k"] {
  background-image: url("/textures//denim_fabric_1k//denim_fabric_diffuse_1k.jpg");
}

h2 {
  font-size: 2rem;
  text-transform: capitalize;
}

.fa-close {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.order-container {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.order-container button {
  padding: 16px 32px;
  font-size: 1.5rem;
  background: var(--primary-color);
  color: black;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.order-finish {
  position: absolute;
  top: 0;
  right: -25vw;

  height: 100vh;
  width: 25vw;
  min-width: fit-content;

  text-align: center;
  display: none;

  flex-direction: column;
  justify-content: center;
  gap: 16px;

  background-color: white;
  padding: 32px;
  border-radius: 16px;
}

.order-finish h2 {
  font-size: 2rem;
  color: var(--primary-color);
}

.order-finish form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  height: 50%;
}

.order-finish form .order-form-fields-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.order-finish form .order-form-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.order-finish .order-form-container .order-form-field {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;

  width: 100%;
}

.order-finish .order-form-field input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #000;
  width: 100%;
}

.order-finish .order-form-field label {
  font-size: 1rem;
}

.order-finish .btn-container {
  display: flex;
  gap: 16px;
  justify-content: center;
  width: 100%;
}

.order-finish .btn-container button {
  margin-top: 32px;
  padding: 12px 8px;
  border-radius: 8px;
  /* border: 1px solid #000; */
  border: none;
  cursor: pointer;

  width: 100%;

  font-size: 1rem;
  font-weight: bold;
}

.order-finish .btn-container .finish-order-btn {
  background-color: var(--primary-color);
  color: black;
}

.order-finish .btn-container .cancel-order-btn {
  background-color: #ff0000;
  color: white;
}

/* Loader */

/* HTML: <div class="loader"></div> */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: var(--primary-color) transparent var(--primary-color)
    transparent;
  animation: l1 1s infinite;
}
@keyframes l1 {
  to {
    transform: translate(-50%, -50%) rotate(0.5turn);
  }
}

.loader-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.order-success {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;

  color: var(--primary-color);

  background-color: rgba(0, 0, 0, 0.8);

  padding: 32px;
  border-radius: 16px;
}

.shoe-text {
  display: none;
}

.color-picker-container .text-input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #000;

  display: none;
}
